<!-- main slider start -->
<section id="slider" class="slider">
  <div class="overlay"></div>
  <div id="main-slide" class="carousel slide" data-ride="carousel">

    <!-- Carousel inner -->
    <div class="carousel-inner">
      <div class="item active">
        <img class="img-responsive" src="assets/images/bg/bg5.jpg" alt="slider">
        <div class="slider-content">
          <div class="col-md-12 text-center">
            <h2 class="animated4"> Ibrahima Sory DIALLO</h2>
            <h3 class="animated5">Software Development Engineer</h3>
            <h5 class="animated2">lets introduce</h5>
            <a href="#profile" scroll-on-click ref="profile" class="animated6 page-scroll"><i class="fa fa-angle-down"> </i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<!-- main slider end -->
<!-- Profile section start -->

<section id="profile" class="profile">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="header-desc text-center">
          <div class="header-content">
            <h3 class="big-title">Profile</h3>
            <span>who i am</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">
        <div class="pro-desc">
          <h3 class="sub-title">Ibrahima Sory DIALLO</h3>
          <h5><i>Software Development Engineer</i></h5>
          <p>I am a software development engineer with 4+ years expericence in developing huge and complex applications. I am also a Certified Scrum Master.</p>
          <button class="btn btn-black" ng-click="ctrl.resume($event)"> Download my resume</button>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;">
        <div class="pro-info">
          <h3 class="sub-title">Personal Info</h3>
          <div class="pro-list m20">
            <div><span>Name:</span> Ibrahima Sory DIALLO</div>
            <div><span>Birth date:</span> June 20th, 1990</div>
            <div><span>Email:</span> isdiallo1990@gmail.com</div>
            <div><span>Location:</span> Nice, France</div>
            <div><span>Place of work:</span> Amadeus IT Group</div>
          </div>
          <ul class="socail-list list-inline">
            <li><a href="https://bitbucket.org/isdiallo"><i class="fa fa-bitbucket wow fadeInLeft animated" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;"></i></a></li>
            <li><a href="https://github.com/soryboums"><i class="fa fa-github wow fadeInLeft animated" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;"></i></a></li>
            <li><a href="https://www.linkedin.com/in/isdiallo"><i class="fa fa-linkedin wow fadeInLeft animated" data-wow-delay=".9s" style="visibility: visible; animation-delay: 0.9s; animation-name: fadeInLeft;"></i></a></li>
            <li><a href="https://medium.com/@isdiallo"><i class="fa fa-medium wow fadeInLeft animated" data-wow-delay="1.2s" style="visibility: visible; animation-delay: 1.2s; animation-name: fadeInLeft;"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;">
        <div class="pro-pic">
          <img src="assets/images/portfolio/isd.jpg" alt="profile-pic" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Profile section end -->

<!-- Resume section start  -->

<section id="resume" class="resume">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="header-desc text-center">
          <div class="header-content">
            <h3 class="big-title">Education</h3>
            <span>Know me better</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" style="visibility: hidden; animation-name: none;">
        <div class="resume-single">
          <div class="year">2010-2014 </div>
          <div class="resume-desc">
            <h4>Master Degree in Software Development</h4>
            <h5 class="versity">INSA of Toulouse <span>France</span></h5>
          </div>
          <p>INSA stands for "Institut National des Sciences Appliquées", it is an engineering school located in Toulouse, France. During my years at INSA of Toulouse I learnt Software Development and Computer Network. I ended graduated as an Engineer in Software Development. </p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight" style="visibility: hidden; animation-name: none;">
        <div class="resume-single">
          <div class="year">2009-2010 </div>
          <div class="resume-desc">
            <h4>Freshman year in Computer Sciences</h4>
            <h5 class="versity">UPS of Toulouse <span>France</span></h5>
          </div>
          <p>UPS stands for University Paul Sabatier. it is a French University member of University of Toulouse and mainly specialised in Science. I finished my freshman year with honors. That's help me being directly accepted to INSA of Toulouse. </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Resume section end  -->
<!-- Service section Start -->

<section id="service" class="service">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="header-desc text-center">
          <div class="header-content">
            <h3 class="big-title">Expertise</h3>
            <span>what i do</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-delay=".2s">
        <div class="service-desc">
          <div class="icon-box color">
            <i class="icon icon-tablet"></i>
          </div>
          <div class="service-content ">
            <h4>Responsive Web design</h4>
            <span>Desktop, laptop,mobile view</span>
            <p>With millions of smartphones sold every year, I always keep in mind mobile first while developping applications.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-delay=".5s">
        <div class="service-desc">
          <div class="icon-box color">
            <i class="icon icon-desktop"></i>
          </div>
          <div class="service-content">
            <h4>Web development</h4>
            <span>Desktop, laptop,mobile view</span>
            <p>I use the latest techmologies like AngularJS, Jquery and Bootstrap to develop quickly fast and lightweight wep applications.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-delay=".8s">
        <div class="service-desc">
          <div class="icon-box color">
            <i class="icon icon-tools"></i>
          </div>
          <div class="service-content">
            <h4>NodeJS / Express</h4>
            <span>Backend, API</span>
            <p>Javascript is a rising popularity langage and has changed a lot the face of web development. Thanks to NodeJS / Express we can use javascript in both client and server side.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-delay="1.1s">
        <div class="service-desc">
          <div class="icon-box color">
            <i class="icon icon-hourglass"></i>
          </div>
          <div class="service-content">
            <h4>Java Springboot</h4>
            <span>Backend, API</span>
            <p>Spring is a Java based framework for web application development. Springboot helps you develop applications with a minimal effort.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-delay="1.4s">
        <div class="service-desc">
          <div class="icon-box color">
            <i class="icon icon-scissors"></i>
          </div>
          <div class="service-content">
            <h4>Django / Python</h4>
            <span>Web, Backend, API, Automation</span>
            <p>Django is a Python based framework with lot of built-in components like a Admin interface, users management... I also use python for tasks related to automation.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-delay="1.8s">
        <div class="service-desc">
          <div class="icon-box color">
            <i class="icon icon-basket"></i>
          </div>
          <div class="service-content">
            <h4>Agile</h4>
            <span>Scrum, Management</span>
            <p>I cherish a lot Agile Scrum methodology and the technics around it because it helps me focus on maximizing the value of applications that I develop.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Service section End -->
<!-- Section work start -->
<section id="work">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="header-desc text-center">
          <div class="header-content">
            <h3 class="big-title">Projects</h3>
            <span>creative work sample</span>
          </div>
          <p>During my spare time I enjoy coding and learning new things. Here are some projects that I worked / am working on.</p>
        </div>
      </div>
      <div class='row wow fadeInUp'>
        <div class='col-lg-12'>
          <div class="carousel slide" id="portfolio-carousel">
            <div class="carousel-inner">
              <div class="item  active">
                <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="thumbnail">
                      <div class="caption">
                        <div class="caption-content">
                          <span>
                            <a data-rel="prettyPhoto" href="https://bitbucket.org/isdiallo/bambeto/"><i class="fa fa-search"></i></a>
                            <a href="https://bambetodev.herokuapp.com/#/home"><i class="fa fa-link"></i></a>
                          </span>
                          <h3>Bambeto</h3>
                          <p>Bambeto is a ride share application.</p>
                          <p>AngularJS, NodeJS, MongoDB</p>
                        </div>
                      </div>
                      <img src="assets/images/portfolio/bambeto.jpg" alt="portfolio">
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="thumbnail">
                      <div class="caption">
                        <div class="caption-content">
                          <span>
                            <a data-rel="prettyPhoto" href="https://github.com/soryboums/personal"><i class="fa fa-search"></i></a>
                            <a href="http://isdiallo.com"><i class="fa fa-link"></i></a>
                          </span>
                          <h3>isdiallo</h3>
                          <p>isdiallo is my personal website</p>
                          <p>AngularJS, NodeJS</p>
                        </div>
                      </div>
                      <img src="assets/images/portfolio/isd.jpg" alt="portfolio">
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="thumbnail">
                      <div class="caption">
                        <div class="caption-content">
                          <span>
                            <a data-rel="prettyPhoto" href="https://github.com/soryboums/ngclient"><i class="fa fa-search"></i></a>
                            <a href="https://ngclient.herokuapp.com/#/home"><i class="fa fa-link"></i></a>
                          </span>
                          <h3>ngClient</h3>
                          <p>ngClient is AngularJS kickstarter. It is a fork of ngBoilerplate on Github.</p>
                          <p>AngularJS, NodeJS, MongoDB</p>
                        </div>
                      </div>
                      <img src="assets/images/portfolio/ng.png" alt="portfolio">
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="thumbnail">
                      <div class="caption">
                        <div class="caption-content">
                          <span>
                            <a href="https://www.youtube.com/watch?v=pl8RbbKo2G8"><i class="fa fa-link"></i></a>
                          </span>
                          <h3>The Smart House project</h3>
                          <p>A Smart house automation project.</p>
                        </div>
                      </div>
                      <img src="assets/images/portfolio/smart.jpg" alt="portfolio">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- section portfolio end-->

<!-- section contact start -->

<section id="contact" class="contact parallax4">
  <div class="parallax-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="header-desc text-center">
          <div class="header-content">
            <h3 class="big-title">contact</h3>
            <span>my online dairy</span>
          </div>
          <p>If you are here, I assume that you know something about me now. Know more and give me the chance to know you back by dropping me a word.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="contact-desc">
          <form ng-submit="ctrl.sendMsg($event)" role="form" id="contact-form">
            <div class="row">
              <div class="col-md-4 wow fadeInLeft" data-wow-delay=".2s">
                <div class="form-group">
                  <label>Name</label>
                  <input class="form-control" name="name" ng-model="ctrl.msgObj.name" placeholder="name" type="text" required>
                </div>
              </div>

              <div class="col-md-4 wow fadeInDown" data-wow-delay=".5s">
                <div class="form-group">
                  <label>Email</label>
                  <input class="form-control" name="mail" ng-model="ctrl.msgObj.mail" placeholder="email" type="text" required>
                </div>
              </div>

              <div class="col-md-4 wow fadeInRight" data-wow-delay=".8s">
                <div class="form-group">
                  <label>Subject</label>
                  <input class="form-control" name="subject" ng-model="ctrl.msgObj.subject" placeholder="subject" type="text">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 wow fadeInUp" data-wow-delay="1.1s">
                <div class="form-group">
                  <label>Message</label>
                  <textarea cols="30" rows="10" class="form-control" ng-model="ctrl.msgObj.msg" placeholder="message"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 wow fadeInUp" data-wow-delay="1.3s">
                <div class="text-left  m20">
                  <button type="submit" class="btn btn-white">Submit</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
